<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
    table {
        border-collapse: collapse;
    }

     .container {
        padding: 80px 120px;
    }
</style>
</head>

<body>

<div th:insert="common/header.html" id="header"></div>


<div class="container text-center">
    <!--게시판-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="post : ${postList}">
            <td>
                <span th:text="${post.postNo}"></span>
            </td>
            <td>
                <a th:href="@{'/post/list/' + ${post.postNo}}">
                    <span th:text="${post.postTitle}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.postWriter}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/post/write}"><input class="btn btn-default" style="float:right;" type="button" value="글쓰기"></a>

    <!-- 검색 form -->
    <form action="/post/search" method="GET">
        <div>
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
            <button class="btn btn-default">검색</button>
        </div>
    </form>

</div>

</body>
</html>