<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 상세화면</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <ul>
        <li>
            <a href="/v1/view/customer/">목록화면</a>
            <a href="/v1/view/customer/detail">가입화면</a>
        </li>
    </ul>
    <h1>회원 가입 페이지 </h1>
    <form action="/join">
        <input type="text" placeholder="아이디">
        <input type="text" placeholder="비밀번호">
        <input type="text" placeholder="이름">
        <input type="text" placeholder="레벨">
        <button>저장</button>
        <button>취소</button>
    </form>
</body>
</html>